<div class="container">
  <mat-toolbar>
    <span id="title">Crear Usuarios</span>
  </mat-toolbar>

  <mat-card style="margin-top: 10px">
    <form>
      <mat-grid-list cols="4" rowHeight="70px">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field class="ancho">
            <mat-label class="ancho">Usuario</mat-label>
            <input matInput autocomplete="off" />
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="3" [rowspan]="5">
          <img
            src="./assets/img/programmer.png"
            alt="user pcicture"
            width="250px"
            height="250px"
          />
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field class="ancho">
            <mat-label class="ancho">Nombre</mat-label>
            <input matInput autocomplete="off" />
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field class="ancho">
            <mat-label class="ancho">Apellido</mat-label>
            <input matInput autocomplete="off" />
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field class="ancho">
            <mat-label>Sexo</mat-label>
            <mat-select>
              <mat-option value="masculino"> Masculino </mat-option>
              <mat-option value="femenino"> Femenino </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <button mat-raised-button color="accent" style="margin-right: 10px">
            Volver
          </button>
          <button mat-raised-button color="primary">Aceptar</button>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
  </mat-card>
</div>
