<div class="body">

    <mat-spinner *ngIf="loading" class="spinner" diameter = "50"></mat-spinner>

    <div *ngIf="!loading" class="login">
        <img src="./assets/img/programmer.png" alt="user img">
        
        <h1>Login</h1>
        <form [formGroup]="form" (ngSubmit)="ingresar()">

            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Usuario</mat-label>
                <input matInput autocomplete="off" formControlName="usuario">
            </mat-form-field>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Password</mat-label>
                <input type="password" matInput autocomplete="off" formControlName="password">

            </mat-form-field>
            <br>
            <button type="submit" mat-raised-button color="primary" class="ancho button" [disabled] = "form.invalid">Ingresar</button>

        </form>

    </div>
</div>


